@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #23252c;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
